body {
    background-color: #000;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 10%;
}

.name {
    position:static;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    background-color: blue;
    font-weight: 600;

    background-image: linear-gradient(45deg, #7b44c7, #083af0);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    letter-spacing: -0.03em;
    margin-bottom: 25px;
}

.about {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.description {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    color: #007CF0;
    text-decoration-line: none;
}

h1 {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(45deg, #5852c1, #083af0);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    letter-spacing: -0.03em;
    margin-top: 50px;
}

p {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Github css */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Join Now css */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}