body {
    /* background-color: #2a2a2a; */
    background-color: #000;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: -0.03em;
    margin-top: 50px;
    /* color: rgb(228, 228, 228); */
    /* color: #136c93; */
    margin-bottom: 3%;

    background-image: linear-gradient(45deg, #0046a7, #7cb0ff);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.abstract {
    /* background-color: #3c3c3c; */
    /* color: #adadad; */
    background-color: #0046a7;
    color: aliceblue;

    width: 28%;
    font-weight: 400;
    float:left;
    border-radius: 12px;
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%
}

h2 {
    font-weight: 400;
    /* color: rgb(205, 204, 204); */
    color: aliceblue;
}


.research {
    padding-left: 3%;

    /* background-color: #3c3c3c; */
    /* color: rgb(145, 145, 145); */
    background-color: #0046a7;
    color: aliceblue;

    width: 65%;
    font-weight: 400;
    border-radius: 12px;
    float: left;
}

.updates {
    /* background-color: #3c3c3c; */
    /* color: rgb(145, 145, 145); */
    background-color: #0046a7;
    color: aliceblue;

    width: 30%;
    font-weight: 400;
    float:right;
    border-radius: 12px;
}

.container {
    float: right;
    width: 69%;
}

.date {
    font-size: 14px;
    padding-left: 15px;
    font-style: italic;
}
.update {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
}

.row {
    font-size: 18px;
}
.description {
    font-size: 14px;
    margin-top: 15px;
    padding-left: 7px;
    margin-bottom: 10px;
}

.citation {
    font-size: 13px;
    margin-bottom: 30px;
    padding-left: 4px;
}